.notification
{
    background-color: rgba(80, 96, 86, 1);
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    size: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
.notiftitle
{
    font-size: 10px;
    color: rgba(246, 239, 231, 1);
}
.text
{
    font-size: 10px;

}